@using VehicleRenting.UI.Models.DTOs
@model VehicleWorkTimeListDTO
@{
    ViewData["Title"] = "Araç Çalışma Süreleri";
    Layout = ViewBag.Layout;
    var role = ViewBag.Role;

}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="~/css/vehicleworktime/list.css" rel="stylesheet" />


<div class="container ">
    <div class="d-flex justify-content-between">
        <h2 class="text-gradient mb-4">Araç Raporları</h2>
            <a href="@Url.Action("Create", "VehicleWorkTime")" class="btn btn-primary mb-4">Yeni Bakım Bilgisi Ekle</a>
    </div>

    <div class="row justify-content-center ">

        <div class="btn-group mb-4 col-lg-12" role="group" aria-label="Grafik Seçimi">
            <button type="button" class="btn btn-outline-primary chart-btn active" data-target="vehicleWorkChart">Araç Çalışma Süreleri</button>
            <button type="button" class="btn btn-outline-warning chart-btn" data-target="idleChart">Boşta Süre Grafiği</button>
        </div>

        <div class="chart-container m-3 col-lg-12">
            <canvas id="vehicleWorkChart"></canvas>
            <canvas id="idleChart" class="d-none"></canvas>
        </div>


        <table class="table table-hover table-dark mb-0 shadow-sm rounded-4 overflow-hidden col-lg-12">
            <thead class="bg-gradient text-white">
                <tr>
                    <th>Araç</th>
                    <th>Aktif Saat</th>
                    <th>Bakım Saat</th>
                    <th>Boşta Bekleme Saat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WorkTimes)
                {
                    var vehicle = Model.Vehicles.FirstOrDefault(v => v.Id == item.VehicleId);
                    <tr class="hover-row">
                        <td>@vehicle?.Name (@vehicle?.PlateNumber)</td>
                        <td>@item.ActiveHours</td>
                        <td>@item.MaintenanceHours</td>
                        <td>@item.IdleHours</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

<script>
    var vehicleChartData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChartData));
</script>
<script src="~/js/vehicleworktime/vehicleworktime.js"></script>
